* {
    box-sizing: border-box;
  }
h1{
    text-align: center;
    font-weight: 400;
    font-family: 'Oswald';
}
.image-gallery{
    display: grid;

}
h3{
    text-align:center;
    font-weight: 400;
    font-family: 'Oswald';
    
}
figure{
    text-align:center;
}
figcaption{
    font-size:.75em;
    font-style: italic;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    border-color: black;
    border-style: solid;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }