h1{
    text-align: center;
    font-weight: 400;
    font-family: 'Oswald';
}
.image-gallery{
    margin-top: 10%;
    display:flex;
    flex-wrap:wrap;
    margin:0 16px 16px 16px;
    border: 1px black;
}
h3{
    text-align:center;
    font-weight: 400;
    font-family: 'Oswald';
    
}