h1{
    text-align: center;
    font-weight: 400;
    font-family: 'Oswald';
}
.image-gallery{
    flex:33%;
    float:left;
    margin-top: 10%;
    display:grid;
    grid-gap:1rem;
    grid-template-columns: auto auto auto;
    padding:10px;
    grid-template-areas: "item item item"

}
.item{
    width:300px;
    height:300px;
}
h3{
    text-align:center;
    font-weight: 400;
    font-family: 'Oswald';
    
}
figure{
    text-align:center;
}
figcaption{
    font-size:.75em;
}
@media screen and(max-width: 720px){
    .image-gallery{
        grid-template-areas: ". item item item  ."
                             ". item item .  .";
    }
    
}